<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Consultify allows you to get the help you need <strong>when you need it!</strong></h1>
    <p>Make your life easier by getting advise from the right person.</p>
    <a class="btn btn-flat" href="#">Start looking!</a>
  </div>
<h2>Consultations on anything!</h2>
<p>Sign up</p>
<p>Find consultant</p>
<p>Get advise!</p>
</div>
