<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <p>consultify</p>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">be a consultant</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
      </ul>
    </div>
    </div>

  </div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
      <div class="container">
        <h1>Get the help you need!</h1>
        <p>Make your life easier by getting advise from the right person.</p>
        <a class="btn btn-flat" href="#">Start looking!</a>
      </div>
      <div class="main-search-input-wrap">
        <div class="main-search-input fl-wrap">
          <div class="main-search-input-item">
            <input type="text"  value="" placeholder="Look for your next consultation...">
            </div>
          <button class="main-search-button">Search</button>
        </div>
      </div>
      <div class="card d-flex justify-content-between">
        <h2>Consultations on anything!</h2>
          <div>
            <p>Sign up</p>
            <p>Find consultant</p>
            <p>Get advise!</p>
          </div>
      </div>
</div>
