<div class="banner justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
      <h1>Get the help you need!</h1>
      <p>Make your life easier by getting advise from the right person.</p>
    </div>
    <div class="card-home d-flex container">
      <div style="width: 100%;">
        <h2>Consultations on anything!</h2>
        <p>Sign up</p>
        <p>Find consultant</p>
        <p>Get advise!</p>
        <% if current_user %>
          <%= link_to "Check out the available offers from our consultants!", offers_path, class: "btn btn-success btn-rounded col-6" %>
        <%end %>
      </div>
    </div>

    <div class="container search-bar-main">
      <div class="card-home">
        <%if current_user%>
          <%= form_with url: offers_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control search-bar-input",
              placeholder: "consultify yourself"
            %>
            <%= submit_tag "Search", class: "btn search-bar-btn" %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
</div>
<div style="bg-color: black, height: 150px;">
