 <h1>Your offers</h1>
<% @offers.each do |offer| %>
  <%=  link_to offer.title, offer_path(offer.id)  %>

<%end%>
<% if current_user.teacher? %>
<%=  link_to "create a new offer", new_offer_path %>
<%end%>
