.booking-cards {
  display:grid;
  grid-template-columns: 1fr 1fr;
  }



.booking-card {
background-color: #18ce72;
background-image: linear-gradient(301deg, #18ce72 0%, #ffffff 100%);
border-radius: 10px;
margin-right: 20px;
margin-top: 20px;
}
