.card {
  background-color: transparent;
  border: none;
  box-shadow: 6px 6px 6px gray;
}

.card-body{
  max-height: 250px;
  overflow: scroll;
}

.card-home {
  background-color: transparent;
  border: none;
  width: 100%;
}

.teacher-offer-card {
  width: 400px !important;
}
