.card {
  background-color: transparent;
  border: none;
  box-shadow: 6px 6px 6px gray;
}

.card-description{
  max-height: 200px;
  overflow: scroll;
}

.card-home {
  background-color: transparent;
  border: none;
  width: 100%;
}
