.navbar-lewagon {
  justify-content: space-between;
  background: rgb(75, 179, 75);
  position: sticky;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.navbar .nav-item{
  text-decoration: none !important;
  color: rgb(45, 45, 45) !important;
  font-size: 20px;
  padding-left: 35px;
}

.navbar p {
font-size: 25px;
font-weight: bolder;
}

.navbar .nav-item:hover{
  color: white !important;
}
